# node_modules from root folder
/node_modules

# Node.js (Backend)
backend/node_modules

# React (Frontend)
frontend/node_modules

backend/.env

frontend/.env

frontend/.pnp
frontend.pnp.js
frontend/coverage
frontend/build
